.notification {
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1.5em;
}

.notification p {
  margin-bottom: 0;
}

.notification h2 {
  margin-top: 0;
}

.notification button.dismiss {
  float: right;
  font-size: 1.75em;
  opacity: 0.5;
  line-height: 0.1em;
  border: none;
  color: #2c1138;
  cursor: pointer;
}

.notification button.dismiss:hover {
  opacity: 0.75;
}

.notification button.dismiss:focus {
  outline: none;
}

.notification.error {
  border: 1px solid rgb(207 57 23 / 40%);
  background-color: rgb(207 57 23 / 15%);
}

.notification.error h2 {
  color: #cf3917;
}

.notification.success {
  border: 1px solid rgb(130 178 1 / 50%);
  background-color: rgb(130 178 1 / 20%);
}

.notification.success h2 {
  color: #82b201;
}
