.bulkEmailForm ul.emails {
  padding-left: 0;
}

.bulkEmailForm ul.emails li {
  list-style-type: none;
  background-color: #ffde91;
  line-height: 1.2;
  display: inline-block;
  padding: 0.25em;
  margin: 0.25em;
  border-radius: 4px;
}

.bulkEmailForm label {
  cursor: pointer;
  opacity: 0.75;
}

.bulkEmailForm form {
  background: white;
  border-radius: 4px;
}

.bulkEmailForm form .content {
  padding: 2em;
}

.bulkEmailForm form .action {
  text-align: right;
  border-top: 1px solid rgba(77, 22, 100, 0.1);
  padding: 1.7em 2em;
}

.bulkEmailForm form .hint {
  color: rgba(77, 22, 100, 0.7);
  margin-top: 0.5em;
  font-size: 0.8em;
}

.bulkEmailForm form .dropzone {
  padding: 4em 2em;
  text-align: center;
  background-color: rgba(77, 22, 100, 0.1);
  border-radius: 4px;
  border: 1px dashed rgba(77, 22, 100, 0.3);
}

.bulkEmailForm form .emailButton {
  height: 2.75em;
  padding: 0.5em 1.25em;
  border-radius: 4px;
  background-color: #2c1138;
  color: #fbf3f0;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
}

.bulkEmailForm form .emailButton:hover {
  background-color: rgb(44 17 56 / 80%);
}

.bulkEmailForm form .emailButton:disabled {
  background-color: rgb(44 17 56 / 60%);
  cursor: not-allowed;
  color: #ddd;
}
